    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Inform/Transform was created by <a href="https://mimionuoha.com">Mimi Onuoha</a> and <a href="https://zararah.net/">Zara Rahman</a>. Find them on Twitter <a href="https://twitter.com/thistimeitsmimi">@thistimeitsmimi</a> and <a href="twitter.com/zararah">@zararah</a>.</p>
            </div>
        </div>
    </section>