    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <h1 class="brand-heading">
                <img src="img/inform-transform.png" alt="inform/transform" style="width: 100%">
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">{{ site.description }}<br>
<!--                         <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
 -->                    </div>
                </div>
            </div>
        </div>
    </header>