    <!-- Order Section -->
    <section id="order" class="content-section text-center">
        <div class="order-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sign up for updates</h2>
                    <p><form style="padding:3px;text-align:center;" action="https://tinyletter.com/inform-transform" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/inform-transform', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">If you  want to get your own copy of Inform/Transform, enter your email address here. We'll be in touch within two weeks with more information! For specific enquiries, get in touch on hello[at]informtransform.info.</label></p><p><input type="text" style="width:220px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><button type="submit" class="btn btn-default">Subscribe</button><p><small><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small></p></form></p>
         
                </div>
            </div>
        </div>
    </section>